.stream-card {
  display: flex;
  flex-direction: column;
  width: 304px;
  padding: 1em;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.25);
}

.image-container {
  position: relative
}

.viewer-count {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  color: white;
  bottom: 0px;
  left: 0px;
  margin: 0.5em;
  font-size: 0.75em;
}

h2 {
  margin: 0;
}

.streamcard-info {
  display: flex;
  flex-direction: column;
}

.stream-title {
  margin: 0.5em 0 0.5em;
}

.game-name {
  margin: 0;
}