.stream-card {
  display: flex;
  flex-direction: column;
  width: 305px;
  padding: 1em;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.25);
}

.thumbnail-name {
  pointer-events:none;
}

.image-container {
  position: relative
}

.viewer-count {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  color: white;
  bottom: 0px;
  left: 0px;
  margin: 0.5em;
  font-size: 0.75em;
}

h2 {
  margin: 0;
}

.streamcard-info {
  display: flex;
  flex-direction: column;
  justify-content:end;
  pointer-events:none;
}

.stream-title {
  display: flex;
  margin: 0.5em 0 0.5em;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.game-name {
  display: flex;
  margin: 0;
  font-size: smaller;
  font-style: italic;
}

.card-container {
  transition: transform 0.3s ease-in-out;
}

.card-container:hover {
  transform: scale(1.03);
}